@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?d2cs60');
	src:  url('../fonts/icomoon.eot?d2cs60#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?d2cs60') format('truetype'),
	  url('../fonts/icomoon.woff?d2cs60') format('woff'),
	  url('../fonts/icomoon.svg?d2cs60#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-alarm-clock:before {
	content: "\e900";
  }
  .icon-atomic:before {
	content: "\e901";
  }
  .icon-bar-chart:before {
	content: "\e902";
  }
  .icon-battery:before {
	content: "\e903";
  }
  .icon-battery-1:before {
	content: "\e904";
  }
  .icon-bell:before {
	content: "\e905";
  }
  .icon-bluetooth:before {
	content: "\e906";
  }
  .icon-book:before {
	content: "\e907";
  }
  .icon-box:before {
	content: "\e908";
  }
  .icon-calculator:before {
	content: "\e909";
  }
  .icon-calendar:before {
	content: "\e90a";
  }
  .icon-car:before {
	content: "\e90b";
  }
  .icon-chat:before {
	content: "\e90c";
  }
  .icon-chat-1:before {
	content: "\e90d";
  }
  .icon-checked:before {
	content: "\e90e";
  }
  .icon-cloud:before {
	content: "\e90f";
  }
  .icon-cloud-computing:before {
	content: "\e910";
  }
  .icon-cloud-computing-1:before {
	content: "\e911";
  }
  .icon-compass:before {
	content: "\e912";
  }
  .icon-credit-card:before {
	content: "\e913";
  }
  .icon-cursor:before {
	content: "\e914";
  }
  .icon-cutlery:before {
	content: "\e915";
  }
  .icon-download:before {
	content: "\e916";
  }
  .icon-edit:before {
	content: "\e917";
  }
  .icon-envelope:before {
	content: "\e918";
  }
  .icon-eraser:before {
	content: "\e919";
  }
  .icon-eye:before {
	content: "\e91a";
  }
  .icon-fast-forward:before {
	content: "\e91b";
  }
  .icon-favorites:before {
	content: "\e91c";
  }
  .icon-file:before {
	content: "\e91d";
  }
  .icon-file-1:before {
	content: "\e91e";
  }
  .icon-file-2:before {
	content: "\e91f";
  }
  .icon-file-3:before {
	content: "\e920";
  }
  .icon-filter:before {
	content: "\e921";
  }
  .icon-flag:before {
	content: "\e922";
  }
  .icon-folder:before {
	content: "\e923";
  }
  .icon-folder-1:before {
	content: "\e924";
  }
  .icon-gamepad:before {
	content: "\e925";
  }
  .icon-heart:before {
	content: "\e926";
  }
  .icon-home:before {
	content: "\e927";
  }
  .icon-id-card:before {
	content: "\e928";
  }
  .icon-idea:before {
	content: "\e929";
  }
  .icon-image:before {
	content: "\e92a";
  }
  .icon-inbox:before {
	content: "\e92b";
  }
  .icon-information:before {
	content: "\e92c";
  }
  .icon-key:before {
	content: "\e92d";
  }
  .icon-laptop:before {
	content: "\e92e";
  }
  .icon-layers:before {
	content: "\e92f";
  }
  .icon-like:before {
	content: "\e930";
  }
  .icon-line-chart:before {
	content: "\e931";
  }
  .icon-loupe:before {
	content: "\e932";
  }
  .icon-mail:before {
	content: "\e933";
  }
  .icon-map:before {
	content: "\e934";
  }
  .icon-medal:before {
	content: "\e935";
  }
  .icon-megaphone:before {
	content: "\e936";
  }
  .icon-message:before {
	content: "\e937";
  }
  .icon-message-1:before {
	content: "\e938";
  }
  .icon-message-2:before {
	content: "\e939";
  }
  .icon-microphone:before {
	content: "\e93a";
  }
  .icon-money:before {
	content: "\e93b";
  }
  .icon-monitor:before {
	content: "\e93c";
  }
  .icon-music:before {
	content: "\e93d";
  }
  .icon-next:before {
	content: "\e93e";
  }
  .icon-padlock:before {
	content: "\e93f";
  }
  .icon-padlock-1:before {
	content: "\e940";
  }
  .icon-paint-brush:before {
	content: "\e941";
  }
  .icon-paper-clip:before {
	content: "\e942";
  }
  .icon-pause:before {
	content: "\e943";
  }
  .icon-phone-call:before {
	content: "\e944";
  }
  .icon-photo-camera:before {
	content: "\e945";
  }
  .icon-placeholder:before {
	content: "\e946";
  }
  .icon-planet-earth:before {
	content: "\e947";
  }
  .icon-play-button:before {
	content: "\e948";
  }
  .icon-power-button:before {
	content: "\e949";
  }
  .icon-presentation:before {
	content: "\e94a";
  }
  .icon-printer:before {
	content: "\e94b";
  }
  .icon-reload:before {
	content: "\e94c";
  }
  .icon-return:before {
	content: "\e94d";
  }
  .icon-rss:before {
	content: "\e94e";
  }
  .icon-safebox:before {
	content: "\e94f";
  }
  .icon-settings:before {
	content: "\e950";
  }
  .icon-settings-1:before {
	content: "\e951";
  }
  .icon-settings-2:before {
	content: "\e952";
  }
  .icon-share:before {
	content: "\e953";
  }
  .icon-shield:before {
	content: "\e954";
  }
  .icon-shopping-cart:before {
	content: "\e955";
  }
  .icon-smartphone:before {
	content: "\e956";
  }
  .icon-speaker:before {
	content: "\e957";
  }
  .icon-speakers:before {
	content: "\e958";
  }
  .icon-trash:before {
	content: "\e959";
  }
  .icon-trophy:before {
	content: "\e95a";
  }
  .icon-upload:before {
	content: "\e95b";
  }
  .icon-user:before {
	content: "\e95c";
  }
  .icon-user-1:before {
	content: "\e95d";
  }
  .icon-user-2:before {
	content: "\e95e";
  }
  .icon-user-3:before {
	content: "\e95f";
  }
  .icon-users:before {
	content: "\e960";
  }
  .icon-utility .path1:before {
	content: "\e961";
	color: rgb(253, 254, 254);
  }
  .icon-utility .path2:before {
	content: "\e962";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path3:before {
	content: "\e963";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path4:before {
	content: "\e964";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path5:before {
	content: "\e965";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path6:before {
	content: "\e966";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path7:before {
	content: "\e967";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path8:before {
	content: "\e968";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path9:before {
	content: "\e969";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path10:before {
	content: "\e96a";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path11:before {
	content: "\e96b";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path12:before {
	content: "\e96c";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path13:before {
	content: "\e96d";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path14:before {
	content: "\e96e";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path15:before {
	content: "\e96f";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path16:before {
	content: "\e970";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path17:before {
	content: "\e971";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path18:before {
	content: "\e972";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path19:before {
	content: "\e973";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path20:before {
	content: "\e974";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path21:before {
	content: "\e975";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path22:before {
	content: "\e976";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path23:before {
	content: "\e977";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path24:before {
	content: "\e978";
	margin-left: -0.70703125em;
	color: rgb(253, 254, 254);
  }
  .icon-utility .path25:before {
	content: "\e979";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path26:before {
	content: "\e97a";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path27:before {
	content: "\e97b";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path28:before {
	content: "\e97c";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path29:before {
	content: "\e97d";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path30:before {
	content: "\e97e";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path31:before {
	content: "\e97f";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path32:before {
	content: "\e980";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-utility .path33:before {
	content: "\e981";
	margin-left: -0.70703125em;
	color: rgb(3, 3, 3);
  }
  .icon-video-call:before {
	content: "\e982";
  }
  .icon-video-camera:before {
	content: "\e983";
  }
  .icon-wifi:before {
	content: "\e984";
  }
  .icon-zoom-in:before {
	content: "\e985";
  }
  .icon-zoom-out:before {
	content: "\e986";
  }

/* header--------------------------------------------------------------------------------------------------- */

body{
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: url('../img/background-web.png');
	background-size: 100%;
	background-attachment: fixed;
	font-size: 11pt;
}
.hidden{
	display: none;
}
.header{
	width: 100%;
	height: 4em;
	/* padding: 1em 0; */
	background-color: #eaeaea;
	background-image: linear-gradient(to top,#f8f8f8, #e6e6e6);
}
.header .logo{
	float: left;
	width: 10em;
	height: 100%;
	padding: 0 1em;
	background-color: #45a1e8;
	border-radius: 0 0 20px 0;
	text-align: center;
}
.header .logo img{
	margin: 5px;
	height: 80%;
}
.header .my_nav {
	/* float: left; */
	padding: 1em 0;
}
.header .my_nav ul li{
	text-decoration: none;
	/* float: left; */
	display: inline;
	padding: 0 1em;
	font-weight: bold;
}
.header .my_nav ul .active{
	color: orangered;
}
.header .my_nav ul .navigation:hover{
	color: orangered;
	cursor: pointer;
}
.header .user{
	float: right;
	font-weight: normal !important;
}
.header .user span{
	margin: 0 1em;
}
.header .user .icon{
	font-size: 18pt;
}
.header .user .icon:hover{
	color: #0064a3;
	cursor: pointer;
}
.header .user img{
	width: 2em;
	height: 2em;
	border-radius: 100%;
}
.header .user .online{
	position: absolute;
	background-color: #38f438;
	width: 13px;
	height: 13px;
	border-radius: 100%;
	margin-left: -13px;
}
.header .user .name{
	padding: 0;
	margin-left: 20px;
}


/* body----------------------------------------------------------------------------------------------------- */

/* home---------------------------------------------------------- */

.wrapper{
	width: 90%;
	margin: auto;
	min-height: 400px;
}
.menu{
	margin-top: 20px;
	text-align: center;
	width: 100%;
}
.menu .button{
	margin: 15px;
	padding: 10px 50px;
	border-radius: 30px;
	border: 1px solid #bababa;
	background-color: white;
	color: navy;
}
.menu .button:hover{
	cursor: pointer;
	background-color: #e3f4ff;
}
.menu .active{
	border-radius: 30px 30px 0 30px;
	border: none;
	background-color: #0064a3;
	color: white;
}
.menu .active:hover{
	background-color: #0064a3;
	cursor: pointer;
}

.materi{
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
}
.materi .box{
	border: 1px solid #bababa;
	padding: 1em;
	width: 30%;
	margin: 1.5em auto;
	border-radius: 15px;
	background-color: #fafafa;
	box-shadow: 0em 1em #d8d8d8;
}
.materi .box h1{
	color: navy;
}
.materi .box p{
	margin: 2em 0 2em 0;
	position: relative;
	/* width: 10em; */
}
.materi .box .img{
	position: relative;
	float: right;
	background-image: url('../img/background-video-capsul.png');
	background-repeat: no-repeat;
	margin: -12px -12px 0 0;
	height: 120%;
	width: 55%;
	background-size: 150%;
}
.materi .box .img .play {
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	border-radius: 100%;
	left: 45%;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #0064a3;
	line-height: 1.2em;
	text-align: center;
	color: white;
	font-size: 52pt;
	transition: 0.3s ease;
}
.materi .box .img .play:hover{
	cursor: pointer;
	left: 40%;
	width: 1.3em;
	height: 1.3em;
	font-size: 58pt;
	line-height: 1.3em;
	transition: 0.3s ease;
}
.event{
	margin: 1em 0;
	width: 95%;
	height: 100px;
	margin: auto;
	border-radius: 20px;
	background-color: #dfdfdf;
	box-shadow: 0 1em #d8d8d8;
}

/* modal--------------------------------------------------------------- */

.bep-modal-bakcground{
	background-color: #013b5f;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	/* position: absolute; */
	position: fixed;
	top: 0;
	text-align: center;
}
.bep-modal{
	width: 80%;
	background-color: white;
	border-radius: 20px;
	left: 10%;
	/* position: absolute; */
	position: fixed;
	top: 50px;
}
.bep-modal .bep-modal-content{
	padding: 2em;
}
.bep-modal .bep-modal-content .bep-modal-header{
	color: #0064a3;
}
.bep-modal .bep-modal-content .bep-modal-header .bep-modal-title{
	color: #7d7d7d;
}
.bep-modal .bep-modal-content .bep-modal-button{
	color: white;
	background-color: #0064a3;
	padding: 1em 2em;
	border: none;
	border-radius: 20px;
	width:100%;
}
.bep-modal .bep-modal-content .bep-modal-button:hover{
	cursor: pointer;
	background-color: #013b5f;
}
.bep-modal .bep-modal-content .content-box img{
	width: 50px;
	border-radius: 100%;
}
.bep-modal .bep-modal-content .content-box .title{
	color: #0064a3;
}
.bep-modal .bep-modal-content .bep-modal-assigment{
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 5px;
}
.bep-modal .bep-modal-content .bep-modal-assigment p{
	padding: 2em 0;
}
.bep-modal .bep-modal-content .bep-modal-assigment .assigment{
	background-color: #ff7755;
	color: white;
	border-radius: 30px;
	width: 50%;
	padding: 10px 1em;
	text-align: right;
}
.bep-modal .bep-modal-content .bep-modal-assigment .assigment .content{
	/* display: inline; */
	float: left;
	padding: 10px;
}
.bep-modal .bep-modal-content .bep-modal-assigment .assigment button{
	background-color: transparent;
	border: 1px solid white;
	border-radius: 20px;
	padding: 10px;
	color: white;
}
.bep-modal .bep-modal-content .bep-modal-assigment .assigment button:hover{
	background-color: white;
	color: #ff7755;
	cursor: pointer;
}
.bep-modal .bep-modal-content .bep-modal-add-file{
	background-color: #f8f8f8;
	margin-top: 2em;
	padding: 10px 2em;
	border-radius: 20px;
	width: 30%;
	float: left;
}
.bep-modal .bep-modal-content .bep-modal-assigment-button{
	float: right;
	margin-top: 2em;
	background-color: #0064a3;
	border-radius: 20px;
	padding: 10px 2em;
	color: white;
}
.bep-modal .bep-modal-content .bep-modal-assigment-button:hover{
	background-color: #013b5f;
	cursor: pointer;
}

/* consult------------------------------------------------------------- */

.consult-container{
	width: 100%;
	height: 650px;
	border-radius: 20px;
	border: 1px solid #bababa;
	background-color: #fafafa;
}
.consult-container .left-section{
	width: 25%;
	height: 650px;
	background-color: #013b5f;
	left: 0;
	border-radius: 20px 0 0 20px;
	color: white;
	display: inline-block;
	padding: 5em 1em;
	position: relative;
}
.consult-container .left-section button{
	width: 90%;
	padding: 1em;
	border-radius: 20px;
	border: none;
	margin: 5px;
	background-color: #005991;
	color: white;
	left: 0;
}
.consult-container .left-section button:hover{
	background-color: #044a75;
	cursor: pointer;
}
.consult-container .left-section .active{
	background-color: white;
	color: black;
}
.consult-container .left-section .active:hover{
	background-color: white;
}
.consult-container .center-section{
	width: 100%;
	background-color: #eaeaea;
	border-radius: 20px;
	display: inline-block;
	margin-left: -20px;
	box-shadow: 2px 0 5px gray;
	padding: 5em 1em;
	height: 650px;
	text-align: center;
}
.consult-container .center-section img{
	width: 50%;
	border-radius: 100%;
}
.consult-container .right-section{
	width: 70%;
	padding: 2em 2em;
	display: inline-block;
	height: 650px;
	overflow: auto;
	position: relative;
}
.consult-container .right-section .consult-content{
	width: 100%;
	color: #7d7d7d;
}
.consult-container .right-section .consult-content .content-box{
	width: 100%;
	margin: 10px auto;
	border-radius: 20px;
	background-color: white;
	border: 1px solid #bababa;
	/* padding: 1em; */
}
.consult-container .right-section .consult-content .content-box img{
	width: 50px;
	border-radius: 100%;
}
.consult-container .right-section .consult-content .content-box .title{
	color: #0064a3;
}
.consult-container .right-section .consult-content .content-box button{
	padding: 5px 1em;
	width: 100%;
	color: white;
	background-color: #0064a3;
	border: none;
	border-radius: 20px;
	margin-top: 15px;
	cursor: pointer;
}
.consult-container .right-section .consult-content .content-box button:hover{
	background-color: #013b5f;
}
.consult-container .right-section .chat-content{
	width: 100%;
	height: 520px;
	overflow: auto;
}
.consult-container .right-section .chat-content .date{
	background-color: #dfdfdf;
	text-align: center;
	width: 40%;
	padding: 5px 10px;
	border-radius: 20px;
}
.consult-container .right-section .chat-content .mentor-chat{
	width: 100%;
	margin-bottom: 10px;
	display: block;
}
.consult-container .right-section .chat-content .mentor-chat img{
	float: left;
	width: 60px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 100%;
}
.consult-container .right-section .chat-content .mentor-chat .chat{
	float: left;
	margin-top: 10px;
	padding: 10px;
	border-radius: 15px;
	background-color: white;
	margin-right: 5px;
}
.consult-container .right-section .chat-content .mentor-chat .triangle-left{
	margin-top: 20px;
	margin-right: -1px;
	width: 0px;
	height: 0px!important;
	border-top: 10px solid transparent;
	border-right: 15px solid white;
	border-bottom: 10px solid transparent;
	float: left;
}
.consult-container .right-section .chat-content .mentor-chat .time{
	margin-top: 30px;
	font-size: 8pt;
	float: left;
}
.consult-container .right-section .chat-content .me-chat{
	width: 100%;
	margin-bottom: 10px;
	display: block;
}
.consult-container .right-section .chat-content .me-chat img{
	float: right;
	width: 60px;
	margin-left: 10px;
	padding: 10px;
	border-radius: 100%;
}
.consult-container .right-section .chat-content .me-chat .chat{
	float: right;
	max-width: 60%;
	color: white;
	margin-top: 10px;
	padding: 10px;
	border-radius: 15px;
	background-color: #0064a3;
	margin-left: 5px;
}
.consult-container .right-section .chat-content .me-chat .triangle-left{
	margin-top: 20px;
	margin-left: -1px;
	width: 0px;
	height: 0px!important;
	border-top: 10px solid transparent;
	border-left: 15px solid #0064a3;
	border-bottom: 10px solid transparent;
	float: right;
}
.consult-container .right-section .chat-content .me-chat .time{
	margin-top: 30px;
	font-size: 8pt;
	float: right;
}
.consult-container .right-section .input-group input{
	border-radius: 0 20px 20px 0;
}
.consult-container .right-section .input-group .input-group-prepend .input-group-text{
	border-radius: 20px 0 0 20px;
	font-size: 12pt;
	text-align: center;
}
.consult-container .right-section .input-group .input-group-prepend span button{
	background-color: transparent;	
	border: none;
}
.consult-container .right-section .input-group button{
	background-color: #0064a3;
	border-radius: 20px;
	color: white;
	border: none;
	padding: 1em 2em;
}
.h1-consult{
	text-align: center;
	margin: 1em 0;
}
.title{
	color: navy;
	font-weight: bold;
}
.title-consult{
	color: cornflowerblue;
}
.p-consult{
	margin: auto auto 4em auto;
	text-align: center;
	width: 50%;
}
.paket-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 8em;
}
.paket-container .content{
	text-align: center;
	margin: auto;
	width: 30%;
	padding: 0 3em;
}
.paket-container .content .paket-box{
	background-image: url("../img/background-paket.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 20em;
	padding: 1em;
	background-color: #fafafa;
	border: 1px solid #bababa;
	border-radius: 20px;
	margin-bottom: 3em;
	box-shadow: 0 1em #0064a3;
}
.paket-container .content .paket-box .curency{
	font-size: medium;
}
.paket-container .content .paket-box .recomendacy{
	width: 80%;
	border-radius: 10px 10px 0 10px;
	float: right;
	padding: 2px 0;
	color: white;
	background-color: rgb(255, 217, 0);
	box-shadow: 0 2px rgb(219, 186, 0);
	margin: 80px -40px 0 0;
	position: relative;
}
.paket-container .content .paket-box .paket-name{
	border-radius: 10px 10px 0 10px;
	width: 80%;
	float: right;
	padding: 0.5em 0;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: #0064a3;
	margin: 20px -40px 30px 0;
}
.paket-container .content .paket-box h3{
	color: #0064a3;
	text-align: center;
	margin-top: 8em;
}
.paket-container .content .button{
	border-radius: 20px;
	background-color: #0064a3;
	border: none;
	color: white;
	padding: 5px 2em;
}
.paket-container .content .button:hover{
	cursor: pointer;
	background-color: #005991;
}

/* payment-------------------------------------------------- */

.back-button{
	margin-top: 2em;
	color: navy;
	font-weight: bold;
	border: none;
	background-color: transparent;
}
.back-button:hover{
	cursor:pointer;
}
.back-button span{
	font-size: 3em;
	vertical-align: middle;
	margin-right: 0.5em;
}
.flow-container{
	margin: auto;
	width: 80%;
	text-align: center;
}
.progressbar {
	margin-left: 10%;
}
.progressbar li {
	list-style-type: none;
	width: 25%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	font-weight: bold;
	color: #7d7d7d;
}
.progressbar li:before {
	width: 30px;
	height: 30px;
	content: '';
	counter-increment: step;
	line-height: 30px;
	border: 4px solid #7d7d7d;
	display: block;
	text-align: center;
	margin: 0 auto 20px auto;
	border-radius: 50%;
	background-color: white;
}
.progressbar li:after {
	width: 100%;
	height: 5px;
	content: '';
	position: absolute;
	background-color: #7d7d7d;
	top: 13px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none;
}
.progressbar li.active {
	color: #0064a3;
}
.progressbar li.active:before {
	border-color: #bababa;
	background-color: #0064a3;
}
.progressbar li.active + li:after {
	background-color: #0064a3;
}
.payment-method-box{
	margin: auto;
	width: 60%;
	border-radius: 30px;
	padding: 4em;
	border: 1px solid #bababa;
	margin-top: 100px;
	text-align: center;
	background-color: white;
}
.payment-method-box .license{
	border: 1px solid #d8d8d8;
	background-color: #fafafa;
	height: 100px;
	overflow-y: auto;
	border-radius: 10px;
	text-align: left;
	padding: 1em;
	color: gray;
}
.payment-method-box .bank-account{
	text-align: left;
	margin: 1em 0;
	border: 1px solid #bababa;
	padding: 1.5em;
	border-radius: 10px;
	width : 100%;
}
.payment-method-box .bank-account-check{
	background-color: paleturquoise;	
}
.payment-method-box .bank-account img{
	width: 25%;
	margin: 0 10px;
}
.payment-method-box button{
	margin: 2em auto;
	padding: 0.5em 2em;
	border-radius: 20px;
	background-color: #0064a3;
	color: white;
	border: none;
}
.payment-method-box button:hover{
	background-color: #005991;
	cursor: pointer;
}

/* footer -------------------------------------------------------------------------------------------- */

.footer{
	margin: 3em 0 0 0;
	width: 100%;
	background-color: #e0e0e0;
	padding: 3em 10em;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
}
.footer .content{
	margin: 0 auto;
	text-align: left;
}
.footer .content .title{
	font-weight: bold;
	margin-bottom: 3em;
}
.footer .content ul{
	padding: 0;
	float: left;
	margin: 0 4em 0 0;
}
.footer .content ul li{
	list-style: none;
	margin: 0.5em 0;
}
.footer .content ul li a{
	text-decoration: none;
	color: inherit;
}
.footer .content ul li a:hover{
	color: #0064a3;
}