<div class="wrapper">
    <div class="menu">
        <button id="menu-materi" class="button">Materi Pembelajaran</button>
        <button id="menu-konsul" class="button active">Konsultasi</button>
    </div>
    <h1 class="h1-consult"><span class="title">EDU / </span><span class="title-consult">Consultant</span></h1>
    <p class="p-consult">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni illo mollitia ad molestiae praesentium error nam dolorem?</p>
    <div class="paket-container">
        <div class="content">
            <div class="paket-box">
                <div class="paket-name">1 BULAN</div>
                <h3><span class="curency">Rp </span>100.000</h3>
            </div>
            <button class="button">Langganan</button>
        </div>
        <div class="content">
            <div class="paket-box">
                <div class="recomendacy">Rekomendasi</div>
                <div class="paket-name">3 BULAN</div>
                <h3><span class="curency">Rp </span>250.000</h3>
            </div>
            <button class="button">Langganan</button>
        </div>
        <div class="content">
            <div class="paket-box">
                <div class="paket-name">6 BULAN</div>
                <h3><span class="curency">Rp </span>500.000</h3>
            </div>
            <button class="button">Langganan</button>
        </div>
    </div>
</div>

<script>
    $("#menu-materi").click(function(){
        current_page = "home.html"
        load_content()
    })
</script>