<div class="wrapper">
    <div class="menu">
        <button id="menu-materi" class="button">Materi Pembelajaran</button>
        <button id="menu-konsul" class="button active">Konsultasi</button>
    </div>
    <div class="consult-container row">
        <div class="left-section col-md-3">
            <button id="assignment" class="active"><span class="icon icon-book mr-3"></span> Assignment</button>
            <button id="liveChat"><span class="icon icon-chat mr-3"></span> Live Chat</button>
            <button id="information"><span class="icon icon-information mr-3"></span> Information</button>
        </div>
        <div class="center-section col-md-1" id="center">
                <img src="../Assets/img/profile.jpg" alt="">
        </div>
        <div class="right-section col-md-8" id="right">
            <!-- assigment-content -->
            <div class="consult-content" id="assigment-content">
                <b>Februari 2019</b>
                <div class="content-box p-3">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="../Assets/img/profile.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <b>Assigment : <span class="title">Preasent Odio Metus Kalos</span></b>
                            <p class="mt-3" style="margin-bottom: 0;">04 Feb 2019</p>
                        </div>
                        <div class="col-md-3">
                            <button id="detail1">Lihat Detail</button>
                        </div>
                    </div>
                </div>
                <div class="content-box p-3">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="../Assets/img/profile.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <b>Assigment : <span class="title">Preasent Odio Metus Kalos</span></b>
                            <p class="mt-3" style="margin-bottom: 0;">04 Feb 2019</p>
                        </div>
                        <div class="col-md-3">
                            <button>Lihat Detail</button>
                        </div>
                    </div>
                </div>

                <b>Februari 2019</b>
                <div class="content-box p-3">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="../Assets/img/profile.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <b>Assigment : <span class="title">Preasent Odio Metus Kalos</span></b>
                            <p class="mt-3" style="margin-bottom: 0;">04 Feb 2019</p>
                        </div>
                        <div class="col-md-3">
                            <button>Lihat Detail</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- assigment-content -->
            <!-- chat-content -->
            <div class="chat-content">
                <div class="date m-auto">Senin, 4 Januari 2019</div>
                <div class="mentor-chat">
                    <img src="../Assets/img/profile.jpg" alt="">
                    <div class="triangle-left"></div>
                    <div class="chat">
                        lorem ipsum dolor sit amet.
                    </div>
                    <div class="time">11.30</div>
                    <div style="clear: both"></div>
                </div>
                <div class="me-chat">
                    <img src="../Assets/img/profile.jpg" alt="">
                    <div class="triangle-left"></div>
                    <div class="chat">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam aut culpa commodi maiores nulla? Debitis corrupti sint, voluptate in saepe, aspernatur quis corporis cum quia, odio officiis libero doloremque impedit?
                    </div>
                    <div class="time">11.30</div>
                    <div style="clear: both"></div>
                </div>
                <div class="mentor-chat">
                    <img src="../Assets/img/profile.jpg" alt="">
                    <div class="triangle-left"></div>
                    <div class="chat">
                        lorem ipsum dolor sit amet.
                    </div>
                    <div class="time">11.30</div>
                    <div style="clear: both"></div>
                </div>
                <div class="me-chat">
                    <img src="../Assets/img/profile.jpg" alt="">
                    <div class="triangle-left"></div>
                    <div class="chat">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam aut culpa commodi maiores nulla? Debitis corrupti sint, voluptate in saepe, aspernatur quis corporis cum quia, odio officiis libero doloremque impedit?
                    </div>
                    <div class="time">11.30</div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><p class="icon icon-paper-clip"></p></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" id="usr" name="username">
                <button class="ml-4"><span class="icon icon-cursor"></span></button>
            </div>
        </div>
    </div>
</div>


    <div id="modal-background" class="bep-modal-bakcground hidden"></div>
    <div id="modal" class="bep-modal hidden">
        <div class="bep-modal-content">
            <div class="content-box row">
                <div class="col-md-1">
                    <img src="../Assets/img/profile.jpg" alt="">
                </div>
                <div class="col-md-11">
                    <b>Assigment : <span class="title">Preasent Odio Metus Kalos</span></b>
                    <p class="mt-3" style="margin-bottom: 0;">04 Feb 2019</p>
                </div>
            </div>
            <div class="bep-modal-assigment">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odit, tenetur recusandae explicabo quisquam libero autem mollitia.
                    Consequuntur dolores quasi nemo soluta unde illum. Porro a fugiat sunt dicta quia!. Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Accusamus temporibus atque fugiat mollitia quis deserunt explicabo optio nostrum repudiandae, voluptas ad
                    eum pariatur qui dignissimos eius corporis perferendis. Odio, in.</p>
                <div class="assigment">
                    <div class="content text-left">
                        <span class="icon icon-file-2 mr-2"></span>
                        Latihan Lorem Ipsum - 1.pdf
                    </div>
                    <button>Download File</button>
                </div>
            </div>
            <div class="bep-modal-add-file">
                <span class="icon icon-folder mr-2"></span>
                Tambah File...
            </div>
            <div class="bep-modal-assigment-button">Tandai Selesai</div>
            <div style="clear:both;"></div>
        </div>
    </div>


<script>
    $("#detail1").click(function(){
        $("#modal-background").removeClass("hidden")
        $("#modal").removeClass("hidden")
    })
    $("#modal-background").click(function(){
        $("#modal-background").addClass("hidden")
        $("#modal").addClass("hidden")
    })
</script>

<script>
    $("#liveChat").click(function(){
        $("#center").removeClass("col-md-1")
        $("#center").addClass("col-md-2")
        $("#right").removeClass("col-md-8")
        $("#right").addClass("col-md-7")
        $("#assignment").removeClass("active")
        $("#liveChat").addClass("active")
        $("#assigment-content").addClass("hidden")
    })
    $("#assignment").click(function(){
        $("#center").addClass("col-md-1")
        $("#center").removeClass("col-md-2")
        $("#right").addClass("col-md-8")
        $("#right").removeClass("col-md-7")
        $("#assignment").addClass("active")
        $("#liveChat").removeClass("active")
        $("#assigment-content").removeClass("hidden")
    })
</script>

<script>
    $("#menu-materi").click(function(){
        current_page = "home.html"
        load_content()
    })
</script>