<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Big Edu Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Assets/css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/css/font-awesome.css">
    <link rel="stylesheet" href="../Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Assets/css/css.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="../Assets/img/logo_bep.png" alt="">
        </div>
        <div class="my_nav">
            <ul>
                <li class="navigation active">My Dashboard</li>
                <li class="navigation">Course Cupon</li>
                <li class="navigation">Avtivity</li>
                <li class="user">
                    <span class="icon icon-user-1"></span>
                    <span class="icon icon-chat-1"></span>
                    <span class="icon icon-bell"></span>
                    <span>
                        <img src="../Assets/img/profile.jpg" alt="">
                        <span class="online"></span>
                        <span class="name">Akihisa Ezakiya</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="menu">
            <button class="button active">Materi Pembelajaran</button>
            <button class="button">Materi Pembelajaran</button>
        </div>
        <div class="materi">
            <div class="box">
                <div class="img">
                    <div class="play icon-play-button"></div>
                </div>
                <h1>#1</h1>
                <p>Lorem Isum Lpasde Hasenusa</p>
            </div>
            <div class="box">
                <div class="img">
                    <div class="play icon-play-button"></div>
                </div>
                <h1>#2</h1>
                <p>Lorem Isum Lpasde Hasenusa</p>
            </div>
            <div class="box">
                <div class="img">
                    <div class="play icon-play-button"></div>
                </div>
                <h1>#3</h1>
                <p>Lorem Isum Lpasde Hasenusa</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="content">
            <div class="title">Big Edu Project</div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Stories</a></li>
                <li><a href="">We're Hiring</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="title">Catalog</div>
            <ul>
                <li><a href="">Full Catalog</a></li>
                <li><a href="">Design</a></li>
                <li><a href="">Partnerships</a></li>
                <li><a href="">Programing</a></li>
                <li><a href="">Data Science</a></li>
            </ul>
            <ul>
                <li><a href="">Experiment & Research</a></li>
                <li><a href="">Finding</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="title">Resource</div>
            <ul>
                <li><a href="">Beta Course</a></li>
                <li><a href="">Article</a></li>
                <li><a href="">Forum</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </div>
    </div>
</body>
</html>