<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Big Edu Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Assets/css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/css/font-awesome.css">
    <link rel="stylesheet" href="../Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Assets/css/css.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="../Assets/img/logo_bep.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li class="active">My Dashboard</li>
                <li>Course Cupon</li>
                <li>Avtivity</li>
                <li class="user">
                    <span class="fa fa-user"></span>
                    <span class="fa fa-envelope"></span>
                    <span class="fa fa-bell"></span>
                    <span>
                        <img src="../Assets/img/profile.jpg" alt="">
                        <span class="online"></span>
                        <span class="name">Akihisa Ezakiya</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>